html{
    width: 100%;
    height: 100%;
  }
  body {
    height: 100%;
    background-color: rgb(208, 223, 250);
    margin: 0;
    text-align: center;
  }
  .ko{
    width: 100px;
    height: 50px;
    position: relative;
    position: absolute;
    bottom: 300px;
    left: 30%;
  }
  .i{
    width: 100px;
    height: 50px;
    position: relative;
    position: absolute;
    bottom: 300px;
    left: 60%;
  }