/* ブラウザの一貫性を確保するためのデフォルトスタイルのリセット */
body, h1, p, form, input {
    margin: 0;
    padding: 0;

}
body{
    background-image: url("背景.jpg");
}

/* ヘッダーのスタイル */
h1 {
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

/* フォーム要素のコンテナのスタイル */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

/* フォーム要素のスタイル */
form input[type="text"],
form input[type="password"] {
    font-size: 30px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 5px solid;
    width: calc(100% - 10px); /* 幅を100%から余白の分を少なくしたサイズに設定 */
    padding: 5px;
}
form input[type="text"]:hover,
form input[type="password"]:hover {
    background-color: #C0C0C0;
}

/* フォーム送信ボタンのスタイル */
.login[type="submit"]{
    background-color: #66CCFF;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid;
    margin-top: 20px; /* ボタンを下に移動させるためのマージントップを追加 */
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.newmember[type="submit"]{
    background-color: #43FF6B;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid;
    margin-top: 20px; /* ボタンを下に移動させるためのマージントップを追加 */
    position: absolute;
    bottom: 30px;
    left: 40px;
}

/* フォーム送信ボタンのホバースタイル */
form input[type="submit"]:hover {
    background-color: #555;
}
.loginname{

}

.passname{
    
}
/* 会員登録リンクとメッセージのスタイル */
.hajimete{
    font-size: 20px;
    position: absolute;
    bottom: 110px;
    left: 15px;
}

