/* ブラウザの一貫性を確保するためのデフォルトスタイルのリセット */
body, h1, p, form, input {
    margin: 0;
    padding: 0;

}
body{
    background-image: url("背景.jpg");
}

/* ヘッダーのスタイル */
h1 {
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

/* フォームのコンテナのスタイル */
form {
    max-width: 400px;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}

/* フォーム要素のコンテナのスタイル */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* フォーム要素のスタイル */
form input[type="text"],
form input[type="password"] {
    font-size: 30px;
    margin-top: 5px;
    box-sizing: border-box; /* Changed from 100px to border-box for better sizing */
    border: 5px solid;
    width: 100%; /* Adjusted width to make the text boxes wider */
}
form input[type="text"]:hover,
form input[type="password"]:hover {
    background-color: #C0C0C0;
}

/* フォーム送信ボタンのスタイル */
.login[type="submit"] {
    background-color: #66CCFF;
    padding: 20px 25px;
    font-size: 25px;
    cursor: pointer;
    border: 5px solid;
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.newmember[type="submit"] {
    background-color: #43FF6B;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid;
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

/* フォーム送信ボタンのホバースタイル */
form input[type="submit"]:hover {
    background-color: #555;
}
/* 会員登録リンクとメッセージのスタイル */
.hajimete{
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    left: 15px;
}
