/*吉海作成*/

body {
    background-image: url(../image/背景.jpg);
}

img {
    width: 500px;
    height: 500px;
    position: absolute;
    top:20px; left: 20px;
}

.price, .product-name,.stock {
    background-color: rgb(211, 211, 211);
    font-size: 40px;
    font-weight: bold;
    border: 3px solid;
    position: fixed;
}

.price {
    left: 45%;
    bottom: 70%;
}

.product-name {
    left: 45%;
    bottom:55%;
}

.product-explanation {
    background-color: rgb(211, 211, 211);
    border: 5px solid;
    color: black; /* フォントカラーを黒に変更 */
    margin: 2em 0;
    font-weight: bold;
    font-size: 30px;
    left: 45%;
    bottom: 35%;
    position: fixed;
}

.stock {
    left: 45%;
    bottom: 15%;
}

.cart {
    background-color: #969696;
    border: 5px solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 50px;
    position:fixed;
    right:50px;
    bottom:5%;
}

.cart:hover {
    background-color: rgba(73, 71, 71, 0.989);
}

.back {
    text-align: center;
    border: 5px solid;
    background-color: #a9a9a9;
    cursor: pointer;
    font-size: 40px;
    position: fixed;
    left: 45%;
    bottom:5%;
}

.back:hover {
    background-color: #727272;
}
