/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url(../image/背景.jpg);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 70px;
    font-size: 50px;
}

.back{
    background-color: #BBBBBB;
    padding: 10px 100px;
    font-size: 30px;
    border-radius: 3px;
    cursor: pointer;
    border: 5px solid;
    position: absolute;
    bottom: 150px;
    left: 250px;
}
.out{
    background-color: #d30000;
    padding: 10px 50px;
    font-size: 30px;
    border-radius: 3px;
    cursor: pointer;
    border: 5px solid;
    position: absolute;
    bottom: 150px;
    right: 250px;
}


.back:hover{
    background-color:#555555;
}
.out:hover{
    background-color: #880000;
}
